.formularioContainer{
    width: 750px;
    height: 616px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 26px;
    background-color: #DEDFDB;
    padding: 20px;
}