@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Koh+Santepheap:wght@100;300;400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Caslon+Display&display=swap');



:root{
    --Verde:linear-gradient(#02300D, #008722,#02300D);
   --Vermelha:linear-gradient(#5E0202, #B70E0E,#5E0202) ;
    --Azul:linear-gradient(#171255, #2F23AD,#171255) ;
    --Roxo:linear-gradient(#3A0743, #A312BC,#3A0743) ;
    --fundoEscuro:#12151D;
    --fundoClaro:#EBE6E6;
    --branco: white;
}

body{
    background-color: var(--fundoEscuro);
    font-family: "Inter", sans-serif;
}